<label><strong>Nome Completo:</strong> ${ obj.name }</label><br>
            <label><strong>CPF:</strong> ${ obj.cpf }</label><br>
            <label><strong>Curso:</strong> ${ obj.curso }</label><br>
            <label><strong>Turno:</strong> ${ obj.turno }</label><br>
            <label><strong>Possui Instrumento?</strong> ${ obj.hasInstrument }</label><br>
            <label><strong>Estado Natal:</strong> ${ obj.birthState }</label><br>
            <label><strong>Cidade Natal:</strong> ${ obj.birthCity }</label><br>
            <label><strong>Registro Geral:</strong> ${ obj.rg }</label><br>
            <label><strong>Orgão Emissor:</strong> ${ obj.orgaoEmissor }</label><br>
            <label><strong>Email:</strong> ${ obj.email }</label><br>
            <label><strong>Telefone:</strong> ${ obj.phone }</label><br>
            <label><strong>Endereço:</strong> ${ obj.address }</label><br>
            <label><strong>Cidade Atual:</strong> ${ obj.city }</label><br>
            <label><strong>Estado Atual:</strong> ${ obj.state }</label><br>
            <label><strong>CEP:</strong> ${ obj.cep }</label><br>
            <label><strong>Possui Deficiência:</strong> ${ obj.deficiency }</label><br>
            <label><strong>Nivel Escolar:</strong> ${ obj.schoolingDegree }</label><br>
            <label><strong>Como Ficou Sabendo Sobre o Projeto:</strong> ${ obj.howDiscovered }</label><br>
            <label><strong>Porque Deseja Fazer Este Curso?</strong> ${ obj.whyWants }</label><br>
