<div ng-app="subcribe" ng-controller="subcribe" ng-init="sessionAdm()">
  <div class="container">
  <h1>Abertura de Inscrições</h1>
  <form ng-submit="openSub()">
      <div class="form-group">
        <label for="fromDate">Data de Abertura: </label>
        <input type="date" id="fromDate" ng-model="from">
      </div>
      <div class="form-group">
        <label for="untilDate">Data de Encerramento: </label>
        <input type="date" id="untilDate" ng-model="until">
      </div>
      <input type="submit" class="btn btn-primary" value="Abrir Inscrições">
    </form>
    <br>
  </div>
</div>
