<div ng-controller="options" ng-init="session()">
  <div class="container card">
    <form ng-submit="submit()">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" ng-model="name" value="{{ user.name }}" placeholder="Nome">
        </div>
      </div>
      <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Senha Atual</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputName" ng-model="password" placeholder="Senha Atual">
          </div>
      </div>
      <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Nova Senha</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputName" ng-model="Npassword" placeholder="Nova Senha">
          </div>
      </div>
      <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Repita Nova Senha:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputName" ng-model="RNpassword" placeholder="Repita Nova Senha">
          </div>
      </div>
      <button class="btn btn-primary" type="submit">modificar</button>
    </form>
  </div>
</div>
