<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-route.js"></script>
    <script src="../controllers/blog.js"></script>
    <script>
       UPLOADCARE_PUBLIC_KEY = 'c98d904c5b4622af0397';
        UPLOADCARE_LOCALE = 'pt';
        UPLOADCARE_TABS = 'file camera';
        UPLOADCARE_IMAGES_ONLY = true;
        UPLOADCARE_PREVIEW_STEP = true;
    </script>


  </head>

  <body ng-controller="post" ng-init="getPostPath()">

    <a href="#/">Home</a>

    <div ng-view></div>

    <form method="POST" action="/blog/addPost" enctype='multipart/form-data'>
      <input type="text" name="title" placeholder="Title"><br>
      <textarea name="body" ng-model="mss" placeholder="text"></textarea>
      <input
      type="file"
      name="image"
      />
      <input type="submit"/>
    </form>

    <form >
      <input type="text" ng-model="post">
      <input type="submit" value="Remove Post" ng-click="removePost()"/>
    </form>

    <div class="row">
      <div ng-repeat="x in path">
        <div><a href="#/{{ x }}">{{ x }}</a></div>
      </div>
    </div>

  </body>
</html>
