<div class="container" id="containerGrupo">
  <h1><b>Canto/Coral</b></h1>
  <p>
    O projeto de canto coral é um projeto criado com o objetivo de desenvolver a prática para o canto coral como forma de trabalho coletivo.
  </p>
  <h2>A importância do canto</h2>
  <p>
    Os benefícios do canto em conjunto são inúmeros e já comprovados por estudiosos da área, dentre eles estão:
    <ul>
      <li>Melhor concentração</li>
      <li>Melhor comunicação</li>
      <li>melhorias na respiração</li>
      <li>resolução de problemas posturais</li>
      <li>alívio de estresse</li>
    </ul>
  </p>
  <h2>Atividades Desenvolvidas</h2>
  <p>
    No projeto os alunos irão adquirir conhecimentos na área de canto/coral, realizar exercícios práticos de afinação para melhorar a emissão do som cantado, realizar práticas e dinâmicas de ensaio e estudo de repertórios que incluem leitura e releitura de todos os gêneros musicais e em especial a música popular e o folclore nordestino.
  </p>
  <h2>Como participar?</h2>
  <p>As inscrições para o projeto de Musicalização com Flauta Doce podem ser realizadas através deste site ou presencialmente na Sala Administrativa do Núcleo de cultura do IFAL Campus maceió.</p>

  <h3>Galeria</h3>
  <!-- Grid row -->
  <div class="gallery" id="gallery">

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>
