<div class="container" id="containerGrupo">
  <h1><b>Cordas Friccionadas</b></h1>
  <hr>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
  <h2>Sobre o projeto</h2><br>
  <p>
    O projeto oferta aos alunos (de comunidade interna ou externa), através do
    método coletivo de aprendizagem, uma formação musical que possibilite a
    obtenção de habilidades específicas com instrumentos de corda friccionadas
    (Violino, Viola, Violoncelo e Contrabaixo Acústico), com esse aprendizado o
    aluno se torna apto a participar de diversas formações instrumentais, como
    orquestras, cameratas, quartetos, etc.
  </p>
  <hr width="25%">
  <h2>A importância dos instrumentos de cordas friccionadas</h2><br>
  <p>
    <ul>
      <li>Aprendizado sobre o instrumento e primeiros passos
        (aprender a segurar o instrumento e o arco);</li>
      <li>Estudo de escalas musicais;</li>
      <li>Prática de conjunto</li>
      <li>Acompanhamento individual</li>
      <li>Monitoria para tirar dúvidas ou prática extra;</li>
      <li>Audições parcial e final.</li>
    </ul>
  </p>
  </div>
  <div class="col-sm-12 col-md-6">
  <h2>Como participar?</h2><br>
  <p>As inscrições para o projeto de Cordas Friccionadas podem ser realizadas
    através deste site(link para a página de inscrição) ou presencialmente na
    Sala Administrativa do Núcleo de cultura do IFAL Campus maceió.</p>
  </div>
  </div>
  <br><hr width="50%"><br>
  <h3>Galeria</h3>
  <!-- Grid row -->
  <div class="gallery" id="gallery">

    <!-- Grid column -->
    <div class="mb-3 pics">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>

