<div class="container" id="containerGrupo">
  <h1><b>Musicalização com flauta doce</b></h1>
  <p>
    O projeto de musicalização com flauta doce foi criado com o objetivo de Musicalizar alunos do ifal e comunidade externa, utilizando a Flauta Doce e aprendizagem da Teoria Musical e Solfejo.
  </p>
  <h2>A importância da musicalização</h2>
  <p>
    Segundo Bohumil Med(professor e escritor referência em teoria musical) “A música escrita pelo compositor, para ser percebida pelo ouvinte necessita de um intérprete, a música não é somente uma arte, é uma ciência, por isso os músicos precisam, além de talento, de uma técnica específica e bem apurada”, essas técnicas se aprendem através do estudo da teoria musical.
  </p>
  <h2>Atividades desenvolvidas</h2>
  <ul>
    <li>Apresentação do pentagrama</li>
    <li>Estudos de Solfejo/lições progressivas</li>
    <li>Estudo de partituras</li>
    <li>Prática com instrumentos (flauta doces e derivadas)</li>
  </ul>
  <h2>O que é musicalização?</h2>
  <h2>O que é solfejo?</h2>
  <h2>Como participar?</h2>
  <p>As inscrições para o projeto de Musicalização com Flauta Doce podem ser
     realizadas através deste site ou presencialmente na Sala Administrativa
     do Núcleo de cultura do IFAL Campus maceió.</p>

  <h3>Galeria</h3>
  <!-- Grid row -->
  <div class="gallery" id="gallery">

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>
