<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>

    <title>Pagina Inicial</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../controllers/auth.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <!-- CSS -->
    <!--fontawesome chave de acesso-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--links bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--links dos nossos arquivos css-->
    <link rel="stylesheet" type="text/css" href="../../css/csszin.css">
    <link rel="stylesheet" type="text/css" href="../../css/cssnavcolor.css">
    <link rel="stylesheet" href="../../css/Footer-with-map.css">

    <script language="JavaScript" type="text/javascript" src="../../js/cidades-estados-1.4-utf8.js"></script>

  </head>

  <body ng-controller="auth" ng-init="session()">

    <section class="first">
      <div class="container-fluid"></div>
    </section>

    <!--<h1 id="a">deslogado</h1>
    <a href="/app/views/login.html"><button>sigin</button></a>
    <button ng-click="logout()">logout</button>
    <a href="/app/views/accOptions.html"><button>option</button></a>
    <a href="/app/views/subcribe.html"><button>Se Increva</button></a>
    <a href="/app/views/viewAllSubs.html"><button>ver Inscrições</button></a>
    <a href="/app/views/blog.html"><button>Noticias</button></a>-->


    <nav class="navbar navbar-expand-sm navbar-light sticky-top ">
      <!-- Logo -->
      <a class="navbar-brand" href="index.html">GERARTIFAL</a>

      <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

      <!-- Botões Que Ficarão dentro do menuBar-->
      <div ng-controller="session" class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link d-none d-lg-block" href="../../index.html" >Página Inicial</a>
            <a class="nav-link d-md-block d-lg-none" href="../../index.html" >Inicio</a>
          <li class="nav-item">
            <a class="nav-link d-none d-lg-block" href="../views/projetos-grupos.html">Projetos e Grupos Artísticos</a>
            <a class="nav-link d-md-block d-lg-none" href="../views/projetos-grupos.html">Projetos e Grupos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-none d-lg-block" href="../views/form.html">Inscrições on-line</a>
            <a class="nav-link d-md-block d-lg-none" href="../views/form.html">Inscrições</a>
          </li>
          <li class="nav-item">
            <a ng-class="validClass()" href="#" onclick="alert('É preciso fazer o cadastro ou login para entrar neste campo')">Materiais</a>
          </li>
          <li class="nav-item">
            <a ng-class="validClass()" href="#" onclick="alert('É preciso fazer o cadastro ou login para entrar neste campo')">Turmas e Horários</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <div class="dropdown">
              <button ng-class="validDrop()" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mais</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item " href="#" onclick="alert('É preciso fazer o cadastro ou login para entrar neste campo')">Inscrições On-Line</a>
                <a class="dropdown-item" href="#" onclick="alert('É preciso fazer o cadastro ou login para entrar neste campo')">Materiais</a>
                <a class="dropdown-item" href="#" onclick="alert('É preciso fazer o cadastro ou login para entrar neste campo')">Turmas e Horários</a>
                <a class="dropdown-item" href="#">Sobre o Site</a>
              </div>
            </div>
          </li>
		    </ul>
      </div>

      <!-- Barra De Pesquisa -->
      <form class="navbar-form" action="/action_page.php" id="pesquisa">
        <div class="input-group" id="barra">
          <div class = "input-group-prepend">
				    <span class="input-group-text">§</span>
          </div>
          <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
        </div>
      </form>
    </nav>
    <br>
      <br>
      	<div class="container" align="center" id="formzão">
      		<h1>Formulário de Inscrição</h1>
      <br>
      	<form class="needs-validation" action="/auth/register"  novalidate>
      <hr>
      		<h2>Curso Desejado</h2>
      <br>
      		<div class="form-row">
      			<div class="col-md-4 mb-3">
      				<label>Selecione um Curso</label>
      				<select class="custom-select" required>
      					<option selected value="">Selecione</option>
      					<option value="violin">Violino</option>
      					<option value="viola">Viola</option>
      					<option value="cello">Cello</option>
      					<option value="baixo">Baixo Acústico</option>
      					<option value="tecvocal">Tec.Vocal</option>
      					<option value="music">Musicalização</option>
      	     	</select>
      			 	<div class="invalid-feedback">
      				 	Por Favor, Selecione um Curso.
      			 	</div>
      			</div>
      			<div class="col-md-4 mb-3">
      				<label>Selecione um Turno</label>
      				<select class="custom-select" required>
      					<option selected value="">Selecione</option>
      					<option value="matutino">Matutino</option>
      					<option value="vespertino">Vespertino</option>
      				</select>
      				<div class="invalid-feedback">
      					Por Favor, Selecione um Turno.
      				</div>
      			</div>
      			<div class="col-md-4 mb-3">
      				<label>Você Possui o Instrumento Do Curso?</label>
      				<select class="custom-select" required>
      					<option selected value="">Selecione</option>
      					<option value="sim">Sim</option>
      					<option value="nao">Não</option>
      				</select>
      				<div class="invalid-feedback">
      					Por Favor, Selecione uma opção.
      				</div>
      			</div>
      		</div>
      <hr>
      		<h2>Dados Pessoais</h2>
      <br>
      		<div class="form-row">
      			<div class="col-md-12 mb-3">
      				<label>Membro Da Comunidade:  </label>
      				<div class="custom-control custom-radio custom-control-inline">
          			<input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
          			<label class="custom-control-label" for="customControlValidation2">Interna</label>
        			</div>
        			<div class="custom-control custom-radio mb-3 custom-control-inline">
          			<input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
          			<label class="custom-control-label" for="customControlValidation3">Externa</label>
        			</div>
      			</div>
      		</div>


        	<div class="form-row">
          	<div class="col-md-12 mb-3">
            	<label>Nome Completo</label>
            	<input type="text" class="form-control" id="validationCustom01" placeholder="Nome Completo" autocomplete="on" required>
            	<div class="invalid-feedback">
                	Por Favor, Digite seu nome.
            	</div>
          	</div>
        	</div>
        	<div class="form-row">
          	<div class="col-md-5 mb-3">
            	<label>Data de Nascimento</label>
            	<input type="date" class="form-control" max="2999-12-31" required>
            	<div class="invalid-feedback">
              	Por Favor, Digite Sua Data De Nascimento.
            	</div>
          	</div>
          	<div class="col-md-3 mb-3">
            	<label>Naturalidade</label>
              <select class="custom-select" id="estado1" required>
                <script language="JavaScript" type="text/javascript" charset="utf-8">
                  new dgCidadesEstados({
                  estado: document.getElementById('estado1')
            	})
                </script>
              </select>
              <div class="invalid-feedback">Por Favor, Selecione Um Estado.</div>
          	</div>
          	<div class="col-md-4 mb-3">
            	<label>Cidade</label>
              <select class="custom-select" id="cidade1" required>
                <script language="JavaScript" type="text/javascript" charset="utf-8">
                  new dgCidadesEstados({
                  estado: document.getElementById('estado1'),
                  cidade: document.getElementById('cidade1')
            })
          </script>
              </select>
              <div class="invalid-feedback">Por Favor, Selecione Uma Cidade.</div>
          </div>

        </div>
      	<div class="form-row">
      		<div class="col-md-5 mb-3">
      			<label>Registro Geral</label>
      			<input type="text" class="form-control" pattern="[0-9]+$" maxlength="12" placeholder="Numero De RG" autocomplete="on" required>
      			<div class="invalid-feedback">
      				Por Favor, Digite Seu RG Corretamente.
      			</div>
      		</div>
      		<div class="col-md-3 mb-3">
      			<label>Órgão Emissor</label>
      			<input type="text" class="form-control" placeholder="SSP" required>
      			<div class="invalid-feedback">
      				Por Favor, Digite o Órgão Emissor.
      			</div>
      		</div>
      		<div class="col-md-4 mb-3">
      			<label>CPF</label>
      			<input type="text" class="form-control" placeholder="CPF"  id="CPF" maxlength="14" minlength="15" autocomplete="on" required>
      			<div class="invalid-feedback">
      				Por Favor, Digite Seu CPF.
      			</div>
      		</div>
      	</div>

      	<div class="form-row">
      		<div class="col-md-5 mb-3">
      			<label>Email</label>
      			<input type="email" class="form-control" type="email" placeholder="email@mail.com" autocomplete="on" required>
      			<div class="invalid-feedback">
      				Por favor, Digite um email válido.
      			</div>
      		</div>
      		<div class="col-md-3 mb-3">
      			<label>Telefone</label>
      			<input type="text" class="form-control" maxlength="14" id="NUM" placeholder="082 91234-5678" autocomplete="on" required>
      			<div class="invalid-feedback">
      				Por favor, Digite um telefone para contato.
      			</div>
      		</div>
      		<div class="col-md-4 mb-3">
      			<label>Endereço</label>
      			<input type="text" class="form-control" placeholder="Digite Seu Endereço Residêncial" autocomplete="on" required>
      			<div class="invalid-feedback">
      				Por favor, Digite seu endereço residêncial.
      			</div>
      		</div>
      	</div>

      	<div class="form-row">
      		<div class="col-md-3 mb-3">
      			<label>Estado Atual</label>
      			<select class="custom-select" id="estado2" required>
      				<script language="JavaScript" type="text/javascript" charset="utf-8">
      					new dgCidadesEstados({
      					estado: document.getElementById('estado2')
      		})
      				</script>
      			</select>
      			<div class="invalid-feedback">Por Favor, Selecione Um Estado.</div>
      		</div>

      		<div class="col-md-3 mb-3">
      			<label>Cidade</label>
      			<select class="custom-select" id="cidade2" required>
      				<script language="JavaScript" type="text/javascript" charset="utf-8">
      					new dgCidadesEstados({
      					estado: document.getElementById('estado2'),
      					cidade: document.getElementById('cidade2')
      		})
      	</script>
      			</select>
      			<div class="invalid-feedback">
      				Por favor, Selecione uma Cidade.
      			</div>
      		</div>
      		<div class="col-md-3 mb-3">
      			<label>CEP</label>
      			<input class="form-control" id="CEP" maxlength="10" minlength="10" autocomplete="on" required>
      			<div class="invalid-feedback">
      				Por favor, Digite seu CEP.
      			</div>
      		</div>

      		<div class="col-md-3 mb-3">
      			<label>Possui Deficiência?</label>
      			<select class="custom-select" required>
      				<option selected value="">Selecione</option>
      				<option value="nao">Não</option>
      				<option value="fisica">Física</option>
      				<option value="auditiva">Auditiva</option>
      				<option value="visual">Visual</option>
      				<option value="mental">Mental</option>
      				<option value="multipla">Múltipla</option>
      			</select>
      			<div class="invalid-feedback">
      				Por favor, Selecione Alguma Opção.
      			</div>
      		</div>
      	</div>
      <hr>

      <h2>Formação Acadêmica</h2>
      <br>
      <div class="form-row">
      	<div class="col-md-12 mb-3">
      		<label>Informe Seu Grau De Escolaridade</label>
      		<select class="custom-select" required>
      			<option selected value="">Selecione</option>
      			<option value="medio_inc">Ensino médio Incompleto</option>
      			<option value="medio_com">Ensino Médio Completo</option>
      			<option value="fundamental_inc">Fundamental Incompleto</option>
      			<option value="fundamental_com">Fundamental Completo</option>
      			<option value="superior_inc">Ensino Superior Incompleto</option>
      			<option value="superior_com">Ensino Superior Completo</option>
      		</select>
      		<div class="invalid-feedback">
      			Por favor, Selecione Alguma Opção.
      		</div>
      	</div>
      </div>
      <hr>

      <h2>Informações Opcionais</h2>
      <br>
      <div class="form-row">
      	<div class="col-md-12 mb-3">
      		<label>Como Ficou Sabendo Sobre o Projeto?</label>
      		<select class="custom-select">
      			<option selected value="">Selecione</option>
      			<option value="gerart">Site Gerartifal</option>
      			<option value="folder">Folder</option>
      			<option value="mail">E-mail</option>
      			<option value="mural">Divulgação Mural</option>
      			<option value="site">Site do campus</option>
      			<option value="jornal">Jornal/Revista</option>
      			<option value="radio">Rádio Local</option>
      			<option value="amigos">Através de Amigos</option>
      			<option value="outros">Outros</option>
      		</select>
      	</div>
      		<div class="col-md-12 mb-3">
      			<label>Porque Deseja Fazer Este Curso?</label>
      			<textarea class="form-control" placeholder="Descreva em poucas palavras o motivo de seu interesse neste curso" rows="3"></textarea>
      		</div>
      </div>



      <!--  <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
      	-->
      <hr>
      <br>
        <button class="btn btn-success" type="submit">Submit form</button>
      </form>
      </div>
      <br>
<!--Rodapé-->
<footer id="myFooter">
    <div class="container">
      <div class="row">
        <h4 style="text-align: center">Localização e Redes Sociais:</h4>
      </div>
<!-- Here we use the Google Embed API to show Google Maps. -->
      <iframe class="d-none d-md-block" id="map-container" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.1989023512087!2d-35.732519584780675!3d-9.664039593081965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x701457996307ad5%3A0x1d22c2c44f26f853!2sInstituto+Federal+de+Alagoas+-+Campus+Macei%C3%B3!5e0!3m2!1spt-BR!2sbr!4v1545226271030" >
      </iframe>
    </div>
    <div class="social-networks">
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="footer-copyright" id="copy">
      <p>© 2018 Copyright Text </p>
    </div>
  </footer>


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<script>
    $(document).ready(function () {
        var $seuCampoCpf = $("#CPF");
        $seuCampoCpf.mask('000.000.000-00', {reverse: true});
    });
		$(document).ready(function () {
        var $seuCampoCpf = $("#NUM");
        $seuCampoCpf.mask('000 00000-0000', {reverse:true});
    });
		$(document).ready(function () {
        var $seuCampoCpf = $("#CEP");
        $seuCampoCpf.mask('00.000-000', {reverse:true});
    });
</script>
</body>
</html>
