<div id="app" ng-app="auth" ng-controller="auth" ng-init="session()">
<!-- Carrosel -->
<div id="carouselSite" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">

    <li data-target="carouselSite" data-slide-to="0" class="active"></li>
    <li data-target="carouselSite" data-slide-to="1"></li>
    <li data-target="carouselSite" data-slide-to="2"></li>

  </ol>

<!-- RESOLUÇÃO DAS IMAGENS TEM QUE SER OBRIGATORIAMENTE 1000X400 -->

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <img src="img/i1.jpeg" class="img-rounded-sm d-block">
      <div class="carousel-caption d-none d-md-block">
        <div>
        <h2 > Facilidade </h2>
        <p > Esse site facilita o acesso ao nucleo de Cultura do IFAL Campus Maceió. </p>
        </div>
      </div>
      </div>

    <div class="carousel-item">
      <img src="img/i2.jpeg" class="img-rounded-sm d-block">
      <div class="carousel-caption d-none d-md-block">
        <div>
        <h2> Partituras e Atividades </h2>
        <p> Oferecemos apoio para a hospedagem online de Partituras e Atividades. </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="img/i3.jpeg" class="img-fluid d-block">
      <div class="carousel-caption d-none d-md-block">
          <div>
          <h2> Inscrições online</h2>
          <p> Quando abrir o periodo de inscrição, você poderá se inscrever online através do sistema. </p>
          </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">

    <span><i class="fas fa-caret-left fa-3x"></i></span>
    <span class="sr-only">Anterior</span>

  </a>
  <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">

    <span><i class="fas fa-caret-right fa-3x"></i></span>
    <span class="sr-only">Avançar</span>

  </a>

</div>
</div>




<br><br><br>



<!-- Noticias  -->



<div class="container" id="news">

  <div class="row" >
    <div class="col-12 col-md-6" >
      <h2>Sobre o ARTIFAL</h2>
      <a href="#"><img class="img-responsive rounded" src="img/artifal.png"></a>
      <p>O ARTIFAL, é um programa institucional de extensão do Instituto Federal de Alagoas - IFAL, este projeto visa a formação de grupos culturais/artísticos para a criação, construção, disseminação e preservação da cultura e da arte.</p>
    </div>
    <div class="col-12 col-md-6" >
      <h3>Noticias</h3>
      <a href="#"><img class="img-responsive rounded-circle" src="img/news.png"></a><br>
      <p>As Incrições para o ARTIFAL, Campus Maceió estarão disponíveis, clique <a href="app/views/form.html">Aqui</a>, preencha o formulário, e venha conosco descobrir o incrível mundo da arte ! </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-6 d-none d-md-block" >
      <h3>Inscrições</h3>
      <a href="#"><img class="img-responsive rounded" src="img/register.png"></a><br>
      <p>O Processo de inscrições para o programa ARTIFAL, campus maceió, pode agora ser feito através deste site, basta clicar em inscrições e preencher o formulário, se o candidato for selecionado, este receberá um email para comparecer ao campus e confirmar sua incrição.</p>
    </div>
    <div class="col-12 col-md-6" >
      <h2>Conheça Nosso Trabalho</h2>
      <a href="#"><img class="img-responsive rounded" src="img/art.png"></a>
      <p>O Artifal conta hoje com diversos cursos em variadas áreas da música, podendo participar tanto membros da comunidade interna (estudantes do IFAL) quanto da comunidade externa, além de 5 grupos artísticos formado por bolsistas e voluntários do programa, ficou curioso?, clique <a href="/projetos-grupos">Aqui</a> e conheça mais do que o ARTIFAL, Campus Maceió tem para te oferecer!</p>
    </div>
  </div>
</div>


<!-- Noticias Parte 2 -->

<!--DIV PARA NOTICIAS APARECEREM NO INDEX-->
<div id="include"></div>

</div>
