<div ng-app="sigin" id="loginab">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <div class="container mt-3">
        <div id="accordion">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success active" data-toggle="collapse" href="#collapseOne">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Login
                </label>
                <label class="btn-success btn btn-info" data-toggle="collapse" href="#collapseTwo">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Registro
                </label>
            </div>
            <div ng-controller="login" id="collapseOne" class="collapse show" data-parent="#accordion">
              <br>
                <form ng-submit="submit()">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label>Email / Nome de Usuário</label>
                          <input type="text" class="form-control" placeholder="Digite seu email ou usuario" ng-model="emailOrUser" autocomplete="on" required>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label>Senha</label>
                          <input type="password" class="form-control" ng-model="password" placeholder="Digite sua senha" required>
                        </div>
                      </div>
                      <span style="color: #3399ff;">
                        <label data-toggle="collapse" style="text-decoration: underline; cursor: pointer;" href="#collapseThree">Esqueci minha senha</label>
                      </span>
                      <br>
                      <button type="submit" class="btn btn-primary">Entrar</button>
                  </form>

            </div>
            <div ng-controller="register" id="collapseTwo" class="collapse" data-parent="#accordion">
              <br>
                <form ng-submit="submit()">
                  <div id="from-cadastro" class="form-row">
                      <div class="col-md-12 mb-3">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Digite seu email" ng-model="email" autocomplete="on" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label>Nome de Usuário</label>
                        <input type="text" class="form-control" placeholder="Digite seu nome" ng-model="name" required>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label>Senha</label>
                          <input type="password" class="form-control" placeholder="Digite uma senha" ng-model="password" required>
                        </div>
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LeJD5UUAAAAAIJiM8AcfqBgaJ5EK4_Kbj4HVMmf">
                  </div>
                  <button type="submit" class="btn btn-primary">Cadastrar-se</button>

                </form>
            </div>
            <div ng-controller="forgotPassword" id="collapseThree" class="collapse" data-parent="#accordion">
              <br>
                <form ng-submit="submit()">
                  <div id="from-cadastro" class="form-row">
                    <div class="col-md-12 mb-3">
                      <label>Insira o Email para recuperar sua senha</label>
                      <hr>
                      <label>Email</label>
                      <input type="email" class="form-control" placeholder="Digite seu email" ng-model="email" autocomplete="on" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </form>
            </div>
            <hr>
            <br>
            <a href="/googleAuth"><img src="img/google/web/1x/btn_google_signin_dark_normal_web.png"></a>
          </div>
        </div>
      </div>
</div>
