<div class="container" style="padding: 2%;">
    <h1>Grupos</h1>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/camerata'}" href="/projetos-grupos/camerata" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/camerata.jpeg);">
        <h1>Camerata Jovem</h1>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/coretifal'}" href="/projetos-grupos/coretifal" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/coretifal2.jpg);">
        <h1>Coretifal</h1>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/flautasopros'}" href="/projetos-grupos/flautasopros" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/iflautasopros.jpeg);">
          <h1>Flauta Sopros</h1>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/mariaaugusta'}" href="/projetos-grupos/mariaaugusta" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1>Maria Augusta</h1>
      </div>
    </div>
    <h1>Projetos</h1>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/cordas_friccionadas'}" href="/projetos-grupos/cordas_friccionadas" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1>Cordas Friccionadas</h1>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/canto_coral'}" href="/projetos-grupos/canto_coral" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1>Canto/Coral</h1>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <a type="button" ng-class="{active: activetab == '/projetos-grupos/flauta_doce'}" href="/projetos-grupos/flauta_doce" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</a>
      </p>
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1>Musicalização com flauta doce</h1>
      </div>
    </div>
  </div>
