<div class="container" style="padding: 2%;">

    <div class="row">

      <div class="col-12 col-md-12" >
        <p class="float-right hidden-md-up">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="oncanvas">Saiba Mais</button>
        </p>
        <div class="jumbotron" id="grupo" style="background-image: url(../img/camerata.jpeg);">
          <br><br><br><h1>Camerata Jovem</h1>
        </div>
      </div>
    </div>

    <br><br>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="oncanvas">Toggle nav</button>
      </p>
      <div class="jumbotron" id="grupo" style="background-image: url(../img/coretifal2.jpg);">
        <br><br><br><h1>Camerata Jovem</h1>
      </div>
    </div>
    <br><br>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="oncanvas">Toggle nav</button>
      </p>
      <div class="jumbotron" id="iflautagruposopros" style="background-image: url(../img/iflautasopros.jpeg);">
        <h1>Flauta Sopros</h1>
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
      </div>
    </div>
    <br><br>
    <div class="col-12 col-md-12">
      <p class="float-right hidden-md-up">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="oncanvas">Toggle nav</button>
      </p>
      <div class="jumbotron" id="mariaaugusta" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1>Maria Augusta</h1>
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
      </div>
    </div>
  </div>
  </div>
