<div class="container" style="padding: 2%;">
    <h1>Grupos</h1>

    <div class="col-12 col-md-12">
      <a class="fill-div" role="button" ng-class="{active: activetab == '/projetos-grupos/camerata'}" href="/projetos-grupos/camerata">
      <div class="jumbotron" style="background-image: url(../img/camerata.jpeg);">
        <h1><u>Camerata Jovem</u></h1>
      </div>
      </a>

    </div>

    <div class="col-12 col-md-12">
      <a role="button" ng-class="{active: activetab == '/projetos-grupos/coretifal'}" href="/projetos-grupos/coretifal" data-toggle="oncanvas">
      <div class="jumbotron" style="background-image: url(../img/coretifal2.jpg);">
        <h1><u>Coretifal</u></h1>
      </div>
      </a>
    </div>

    <div class="col-12 col-md-12">
      <a role="button" ng-class="{active: activetab == '/projetos-grupos/flautasopros'}" href="/projetos-grupos/flautasopros" data-toggle="oncanvas">
      <div class="jumbotron" style="background-image: url(../img/iflautasopros.jpeg);">
        <h1><u>Flauta Sopros</u></h1>
      </div>
      </a>
    </div>

    <div class="col-12 col-md-12">
      <a role="button" ng-class="{active: activetab == '/projetos-grupos/mariaaugusta'}" href="/projetos-grupos/mariaaugusta" data-toggle="oncanvas">
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1><u>Maria Augusta</u></h1>
      </div>
      </a>
    </div>
    <h1>Projetos</h1>
    <div class="col-12 col-md-12">
      <a role="button" ng-class="{active: activetab == '/projetos-grupos/cordas_friccionadas'}" href="/projetos-grupos/cordas_friccionadas" data-toggle="oncanvas">
      <div class="jumbotron" style="background-image: url(../img/cordas_friccionadas.jpeg);">
        <h1><u>Cordas Friccionadas</u></h1>
      </div>
      </a>
    </div>
    <div class="col-12 col-md-12">
      <a role="button" ng-class="{active: activetab == '/projetos-grupos/canto_coral'}" href="/projetos-grupos/canto_coral" data-toggle="oncanvas">
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1><u>Canto/Coral</u></h1>
      </div>
      </a>
    </div>
    <div class="col-12 col-md-12">
      <a role="button" ng-class="{active: activetab == '/projetos-grupos/flauta_doce'}" href="/projetos-grupos/flauta_doce" data-toggle="oncanvas">
      <div class="jumbotron" style="background-image: url(../img/mariaaugusta.jpeg);">
        <h1><u>Musicalização com flauta doce</u></h1>
      </div>
      </a>
    </div>
  </div>
