<div class="container">
  <h2 class="mt-5">Sobre o projeto</h2>
  <p class="lead">
    O projeto deste site foi idealizado por 
    <a href="https://www.instagram.com/lucas_lima.18">Lucas Amorim</a>, com o
    intuito de automatizar atividades antes feitas "à mão", otimizando o projeto
    Artifal - campus Maceió, vindo a se tornar um projeto de inovação 
    tecnológica do IFAL campus maceió no ano de 2018, orientado pelo professor
    Eduardo Moraes e executado juntamente a uma equipe de jovens e 
    desenvolvedores promissores.
  </p>
  <h2 class="mt-5">Sobre o projeto</h2>
  <p class="lead">
    A equipe de desenvolvimento do projeto conta com Lucas Amorim na análise,
    gerência do projeto e provendo o conteúdo do mesmo,  
    <a href="https://www.instagram.com/gabrielhenrique182">Gabriel Henrique</a> 
    no desenvolvimento front-end e DevOps, 
    <a href="https://www.instagram.com/jerlysonsantos">Jerlyson Santos</a> 
    no desenvolvimento Back-End e 
   <a href="https://www.instagram.com/theusin_silva07">Matheus Silva</a> 
    no design e Front-End, sendo toda equipe extremamente essencial pata tornar
    esse projeto realidade.
  </p>
  <br>

</div>
