

.jumbotron{
  max-width: 100%;
  height: auto;
  color: #FFFFFF;
  background-position: 50% 35%;
  background-size:cover;
  background-blend-mode:darken;
  background-repeat:no-repeat;
  font-family: 'Coiny', cursive;
  background-color: rgba(0.0, 0.0, 0.0, 0.7);
}
